/*CSS document*/

body {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#f8f6f0;
}

div.container {
    max-width: 80em;
    margin: 0 auto;
    background-color:#f8f6f0;
}


section {
    max-width: 40em;
    margin: 0 auto;
}
figure {
    margin: 0em;
}

figcaption {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 0em 0em 2em;
    color: #255570;
}

nav ul li {
    font-family: "rixcutecat-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: lowercase;
    color: #255570;
    margin: 0em 0.25em;
    font-size: 1.3em;
    display: inline;
    padding: 0em 0.25em;
}

nav ul li a {
    color: #255570;
}

nav ul {
    text-align: center;
}

h1 {
    margin: 0 auto;
}

h2 {
    font-family: "rixcutecat-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    color: #255570;
    margin-bottom: 0.25em;
}

h3 {
    font-family: "rixcutecat-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    color: #255570;
    margin: 0 auto;
    padding: 0 0 0.25em;
}

a {
    text-decoration: none;
    color: #222
}

p {
    margin: 0em 0em 1em 0em;
}

img {
    width: 100%;
    padding: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 60em){
    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }

    header {
        grid-column: 1/3;
    }

    main {
        display: grid;
        grid-template-columns: repeat (3fr, 1fr);
        grid-gap: 0 1em;
    }

    section.mainstory {
        display: grid;
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

   section.mainstory a {
        flex: 1 0 10em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 10em;
    }

    section.mainstory a h3 {
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory a p {
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory a figure img {
        height: 97%;
        object-fit: cover;
    }

    h1 {
        width: 20em;
    }

    nav ul li {
        font-size: 1.7em;
        padding: 0em 0.75em;
    }
}
