/*CSS document*/

body {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(252, 251, 245);
}

div.container {
    max-width: 80em;
    margin: 0 auto;
    background-color: rgb(252, 251, 245);
}


section {
    max-width: 40em;
    margin: 0 auto;
}
figure {
    margin: 0em;
}

figcaption {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 0em 0em 2em;
    color: #255570;
}

nav ul li {
    font-family: "rixcutecat-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: lowercase;
    color: #255570;
    margin: 0em 0.25em;
    font-size: 1.3em;
    display: inline;
    padding: 0em 0.25em;
}

nav ul li a {
    color: #255570;
}

nav ul {
    text-align: center;
}

h1 {
    margin: 0 auto;
}

h2 {
    font-family: "rixcutecat-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    color: #255570;
    margin-bottom: 0.25em;
}

h3 {
    font-family: "rixcutecat-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.75em;
    color: #255570;
    margin: 0 auto;
    padding: 0.25em 0;
}

h4 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    color: #255570;
}

a {
    text-decoration: none;
    color: #255570;
}

p {
    margin: 0em 0em 1em 0em;
    font-size: 0.9em;
    color: #255570;
}

img {
    width: 100%;
    padding: 1em 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    margin-top: 1em;
    font-family: "rixcutecat-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    color: #255570;
    text-align: center;
}

.nav1 {
    color: #aba5f6;
}

.nav2{
    color: #ffbd80;
}

.nav3 {
    color: #fec9d5;
}

.nav4{
    color: #78c4c9;
}

.nav5{
    color: #aba5f6;
}
/*main {
    background-color:#ff8;
}

aside{
    background-color: #f8f;
}

footer {
    background-color: orange;
    position: relative;
} 
*/


/*GALLERY*/
main.photogallery img {
    width: 100%;
}

main.photogallery {
    position: relative;
    overflow: hidden;
    max-width: 60em;
    grid-column: 1/3;
    padding-bottom: calc(60% + 3em);
}

figure.photogallery {
    margin: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: left 1s;
}

input:nth-of-type(1):checked ~ figure.photogallery:nth-of-type(1),
input:nth-of-type(2):checked ~ figure.photogallery:nth-of-type(2),
input:nth-of-type(3):checked ~ figure.photogallery:nth-of-type(3),
input:nth-of-type(4):checked ~ figure.photogallery:nth-of-type(4),
input:nth-of-type(5):checked ~ figure.photogallery:nth-of-type(5),
input:nth-of-type(6):checked ~ figure.photogallery:nth-of-type(6),
input:nth-of-type(7):checked ~ figure.photogallery:nth-of-type(7),
input:nth-of-type(8):checked ~ figure.photogallery:nth-of-type(8) {
    opacity: 1;
}

nav.gallery {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 0.4em;
    grid-column: 1/3;
    max-width: 60em;
}

.photogallery input {
    display: none;
}

/*FORM*/
div.newsletter {
    max-width: 70em;
    margin: auto;
}

section.personal-info ul li {
display: flex;
flex-wrap: wrap;
margin-bottom: 1em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
flex: 4 0 20em;
box-sizing: border-box;
}

section.personal-info ul li label {
flex: 0 0 6em;
}

section.checkbox ul, section.method ul {
display: flex;
flex-wrap: wrap;
}

section.checkbox ul li, section.method ul li {
flex: 1 0 15em;
}

ul {
padding: 0;
list-style-type: none;
}

section.personal-info, section.checkbox {
background: #e4ebee;
padding: 1em;
margin-bottom: 1.5em;
}

section.personal-info ul li, section.checkbox ul li {
font-family: "proxima-nova", sans-serif;
font-weight: 400;
color: #255570;
}

textarea {
box-sizing: border-box;
display: flex;
width: 100%;
height: 6em;
background: #f0ede3;
padding: 0.4em;
font-family: sans-serif;
color: #255570;
}


@media screen and (min-width: 60em){
    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }

    header {
        grid-column: 1/3;
    }

    .homepage {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 0 1em;
    }

    section.mainstory {
        display: grid;
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

   section.mainstory a {
        flex: 1 0 10em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 10em;
    }

    section.mainstory a h3 {
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory a p {
        flex: 0 0 auto;
        margin: 0;
    }

    section.mainstory a figure img {
        height: 97%;
        object-fit: cover;
    }

    img {
        width: 100%;
        padding-top: 1em;
    }
     figure {
         margin: auto;
     }
    h1 {
        width: 20em;
    }

    nav ul li {
        font-size: 1.7em;
        padding: 0em 0.75em;
    }
}
